Section: univention
Priority: optional
Maintainer: Kopano Development Team <development@kopano.io>
Homepage: http://www.kopano.io
Build-Depends: debhelper (>= 8.0.0), univention-config-dev
Standards-Version: 3.9.4

Package: kopano4ucs
Architecture: all
Depends: ${misc:Depends},
 kopano-server-packages (<=8.1),
 univention-join (>> 5.0.20-1.436),
 shell-univention-lib (>> 2.0.17-1.125),
 univention-mail-postfix,
 univention-apache,
 mysql-server,
 makepasswd,
 python-mysqldb,
 python-univention-directory-manager (>=9.0.75-17),
 libxml-dom-perl,
 univention-sasl,
 univention-mail-postfix,
Recommends: bsd-mailx,
 univention-spamassassin,
 univention-antivir-mail
Conflicts: univention-mail-server,
 univention-mail-cyrus,
 univention-mail-dovecot,
 dovecot-imapd,
 cyrus-imapd,
 cyrus-imapd-2.4,
 cyrus-imapd-2.2,
 cyrus-common-2.2,
 cyrus-common-2.4,
Description: Kopano4ucs integration package for Univention Corporate Server
 Integration package for installation and configuration of Kopano Core
 on Univention Corporate Server.
