Source: kopano4ucs
Section: misc
Priority: optional
Maintainer: Claus R. Wickinghoff <info@linudata.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://linudata.de/
#Vcs-Git: https://anonscm.debian.org/collab-maint/kopano-schema.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/kopano-schema.git

Package: kopano4ucs-schema
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 shell-univention-lib
Breaks: univention-ldap-server (<< 9.0.20-1.580.201303211526)
Description: LDAP schema for the Kopano4ucs integration
 OpenLDAP schema extension for the Kopano4ucs integration

Package: kopano4ucs-udm
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 shell-univention-lib,
 kopano4ucs-schema (= ${binary:Version}),
Provides: ${python:Provides}
Description: UDM extensions for the Kopano4ucs integration
 Univention Directory Manager extensions for the Kopano4ucs integration.
 This package enhances the user management interface with Kopano specific
 settings.

Package: kopano4ucs-multiserver-udm
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 shell-univention-lib,
 kopano4ucs-udm (= ${binary:Version}),
Provides: ${python:Provides}
Description: UDM extensions for the Kopano4ucs integration
 Univention Directory Manager extensions for the Kopano4ucs integration. 
 This package enhances the server and user management interface with
 Kopano specific settings for setup of Kopano archiver and/or Kopano
 multiserver setups.

